.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid transparent;
  min-height: 100vh;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
  overflow-wrap: break-word;
  animation: fadeIn 0.9s;
}
.info h2 {
  line-height: 30px;
}
.button {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 200px;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
  animation: fadeInUp 0.9s;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media screen and (max-width: 425px) {
  .info h2 {
    text-align: center;
  }
}
