.button {
    border: 2px solid var(--light);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    width: 200px;
    animation: fadeIn 0.5s;
    margin-bottom: 10px;
    color: var(--light);
    font: inherit
  }
  .button:hover {
    transform: scale(1.01);
  }
  .button:disabled {
    opacity: 50%
  }
