.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  align-items: flex-start;
  margin-bottom: 10px;
  background-color: var(--blue);
  padding: 15px;
}
.card .href {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  line-height: 23px;
  letter-spacing: 0.5px;
}
.card .href:hover {
  text-decoration: underline;
}
.title {
  line-height: 25px;
  color: var(--orange);
}
.by {
  font-size: 0.8em;
  color: var(--red);
  display: flex;
  gap: 15px;
  align-items: center;
}
.time {
  font-size: 0.8em;
  color: var(--gray);
}
.hidden {
  display: none;
}
.comments {
  font-size: 0.8rem;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
