.button {
    border: 2px solid var(--light);
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    background: none;
    animation: fadeIn 0.5s;
    color: var(--light);
    font: inherit;
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .disabled {
    opacity: 50%;
  }
