.card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  animation: fadeInUp 0.8s;
}
.card .href {
  text-decoration: underline;
  color: #0000a8;
  cursor: pointer;
  line-height: 23px;
  letter-spacing: 0.5px;
}
.title {
  line-height: 25px;
}
.by {
  font-size: 0.8em;
  color: #a80000;
}
.time {
  font-size: 0.8em;
}
.hidden {
  display: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
