.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.85rem;
  align-items: flex-start;
}
.card .href {
  text-decoration: none;
  color: #0000a8;
  cursor: pointer;
  line-height: 23px;
  letter-spacing: 0.5px;
}
.card .href:hover {
  text-decoration: underline;
}
.title {
  line-height: 25px;
}
.by {
  font-size: 0.8em;
  color: #a80000;
  display: flex;
  gap: 5px;
  align-items: center;
}
.time {
  font-size: 0.8em;
  color: black
}
.hidden {
  display: none;
}
.comments {
  font-size: 0.7rem;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
