.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
  align-items: flex-start;
  margin-bottom: 10px;
  background-color: #0000a8;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card .href {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  line-height: 23px;
  letter-spacing: 0.5px;
}
.card .href:hover {
  text-decoration: underline;
}
.title {
  line-height: 25px;
  color: #ffa800;
}
.by {
  font-size: 0.8em;
  color: #a80000;
  display: flex;
  gap: 15px;
  align-items: center;
}
.time {
  font-size: 0.8em;
  color: #a8a8a8;
}
.hidden {
  display: none;
}
.comments {
  font-size: 0.8rem;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
